/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  background: url(../images/bgtile.png) repeat-x;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  margin-bottom: 0;
}

.page-content {
    float: right;
    width: 400px;
}

.container {
    width: 900px;
    padding: 30px;
}

.pagetext {
  background: url(../images/frame.png) no-repeat;
  padding: 40px;
  width: 330px;
}

ul.footer {
    clear: both;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
}
